.container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    height: 90vh;
}
h1 {
    flex-basis: 10vh;
}
.out_display {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    flex-basis: 20vh;
    width: 70vw;
}
.task_img img {
    width: 10vmax;
}
.input_word {
    display: flex;
    justify-content: center;
    align-items: center;
}
#word {
    font-size: 4vmax;
    transition: all 2s;
}
.keyboard {
    display: flex;
    flex-flow: row wrap;
    width: 80vw;
    justify-content: center;
}
.keyboard p {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px black solid;
    width: 4.1vw;
    padding: .5vw;
    margin: .5vw;
    font-size: 2vmax;
    cursor: pointer;
}
.keyboard p:hover {
    color: azure;
    background: blue;
}
.confirm {
    display: none;
}
.confirm_show {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 20vh;
}
.confirm_show button {
    height: 4vmax;
    width: 4vmax;
    margin: .5vmax;
}

/*----------------------------------*/

#history {
    position: absolute;
    right: 10vw;
    height: 100vh;
}

/*--------------------------------------*/

.answer {
    position: absolute;
    top: 40%;
    display: none;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 30vw;
    background-color: azure;
    padding: 2vmax;
    border: 1px black solid;
}
.answer img {
    width: 5vmax;
}
.answer p, .answer button {
    font-size: 1.2vmax;
}
.flex_show {
    display: flex;
}
#right_answer {
    color: brown;
    font-weight: 600;
    font-size: 2vmax;
}

@media (max-width: 1100px) {
    .confirm_show button {
        height: 8vmax;
        width: 8vmax; 
    }
    .answer p, .answer button {
        font-size: 3vmax;
    }
}
